<% if @open_ach_url_1 %>
  <img src="/images/outline_open.png" alt="Lvl. 1" class="img-achievement-1">
  <% unless @open_ach_url_2 %>
    <br>Your Github account has been active for <%= @days_open %> days, you need 1 year to unlock level 2.
  <% end %>
<% end %>

<% if @open_ach_url_2 %>
  <img src="/images/solid_open.png" alt="Lvl. 2" class="img-achievement-2">
  <% unless @open_ach_url_3 %>
    <br>Your Github account has been active for over <%= @years_open.to_i %> year(s), you need 3 years to unlock level 3.
  <% end %>
<% end %>

<% if @open_ach_url_3 %>
  <img src="/images/flat_open.png" alt="Lvl. 3" class="img-achievement-3">
  <br>Your Github account has been active for over <%= @years_open.to_i %> years
<% end %>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @progress_bar_acc_open.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= if @progress_bar_acc_open.to_i > 100 then 100 else @progress_bar_acc_open.to_i end %>%; min-width: 2em;">
    <%= if @progress_bar_acc_open.to_i > 100 then 100 else @progress_bar_acc_open.to_i end %>%
  </div>
</div>