<% days_open = (Date.today - @user.start_date).to_i %>
<% years_open = days_open/365.to_f %>

<% achievement_name = @achievement.where(name: "Account Open") %>
<% achievements = achievement_name.select {|a| a.criteria <= years_open} %>

<% open_ach_url_1 = achievements[0][:url] %>
<% open_ach_url_2 = achievements[1][:url] if achievements[1] %>
<% open_ach_url_3 = achievements[2][:url] if achievements[2] %>

<% progress_bar = days_open/1095.to_f*100 %>

<%@total_flags = 0 %>


<% if achievements[0] %>
  <img src="/images/outline_open.png" alt="Lvl. 1" class="img-achievement-1">
  <%@total_flags += 1 %>
<% end %>

<% if achievements[1] %>
  <img src="/images/solid_open.png" alt="Lvl. 2" class="img-achievement-2">
  <%@total_flags += 1 %>
<% end %>

<% if achievements[2] %>
  <img src="/images/flat_open.png" alt="Lvl. 3" class="img-achievement-3">
  <%@total_flags += 1 %>
<% end %>

<% if days_open > 365 %>
  <br>Your Github account has been active for over <%=years_open.to_i%> years<br>
<% else %>
  <br>Your Github account has been active for <%=days_open%> days<br>
<% end %>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress_bar.to_i %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_bar.to_i %>%;">
    <%=progress_bar.to_i%>%
  </div>
</div>