<h2>Hello, 
  <% if @user %>
    <%= @user.first_name %>
  <% else %>
    <span style="color: red">Not logged in</span>
  <% end %>

</h2>

<hr>
<div class="row">
  <div class="col-md-2">
    <b
    <a href="" class="img-container">
      <img src=<%= @user.avatar_url %> alt=<%= @user.avatar_url %> class="img-rounded-bg">
      <span class="score-bg">
        <%# <%=@total_flags/21%>
      </span>
    </a>
    <br>
    
    <h4>Location: </h4>
    <p><%= @user.location %></p>

    <h4>Languages: </h4>
    <% lang_all=[] %>
    <% @user.repos.each do |repo| %>
      <% lang_all << repo.language if repo.language !="nil" %>
    <% end %>
     <% lang_all.compact! %>
    <% lang_all.uniq! %>
    <% lang_all.each do |lang| %>
      <%= lang %><br>
    <% end %>

    <h4>Member of: </h4>
    <a href="/group"><img src="/images/lighthouse.png" alt="..." class="img-rounded-sm"></a>
  </div>
  
  <div class="col-md-5">
    <h2>Achievements</h2>
    <!-- ACCOUNT OPEN ACHIEVEMENT -->

     <%= erb :"user/_accountopen.html"%>
   

    <!-- LANGUAGES ACHIEVEMENT -->
    <%= erb :"user/_language.html"%>


    <!-- FOLLOWERS ACHIEVEMENT -->

    <%= erb :"user/_followers.html"%>


    <!-- REPOSITORIES ACHIEVEMENT -->
    <%= erb :"user/_repositories.html"%>
  
    <!-- FORKS ACHIEVEMENT -->
    <%= erb :"user/_forks.html"%>
   

    <!-- COMMITS ACHIEVEMENT -->
    <%= erb :"user/_commits.html"%>
  

    <!-- STARS ACHIEVEMENT -->
    <%= erb :"user/_stars.html"%>  

    </div>
  <div class="col-md-5">
  <h2>Popular Repositories: </h2>
   <%=(@total_flags/21.to_f*100).to_i%>
  </div>
</div>