<!-- CHARTJS DATA -->
<script>
  $(document).ready(function() {
  // See: http://docs.jquery.com/Tutorials:Introducing_$(document).ready()
  var user = <%= @achievement[:user] %>;
  var group = <%= @achievement[:group] %>;

  // ACHIVEMENTS GRAPH
  var data = {
    labels: ["Acc. Age", "Languages", "Followers", "Repositories","Forks", "Commits", "Stars"],
    datasets: [
      {
          label: "User",
          fillColor: "rgba(249,213,139,0.1)",
          strokeColor: "#F6bb42",
          pointColor: "#FFCE54",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          // data: [3, 3, 1, 3, 2, 3, 2]
          data: user
      },
      {
          label: "Group",
          fillColor: "rgba(204,204,204,0.2)",
          strokeColor: "white",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          // data: [2.7, 2.1, 2.6, 1.8, 2.2, 2.3, 1.8]
          data: group
      }
    ]
  };
  // Get context with jQuery - using jQuery's .get() method.
  var ctx = $("#achievements").get(0).getContext("2d");
  var myLineChart = new Chart(ctx).Line(data);




  // See: http://docs.jquery.com/Tutorials:Introducing_$(document).ready()
  var user_score = <%= @average_score[:user] %>;
  var group_score = <%= @average_score[:group] %>;

  // AVERAGE SCORE GRAPH
 
 var user_names = <%= @average_score[:user_names]%>;

  var data = {
    labels: user_names,
    datasets: [
      {
          label: "User",
          fillColor: "rgba(249,213,139,0.1)",
          strokeColor: "#F6bb42",
          pointColor: "#FFCE54",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(220,220,220,1)",
          // data: [3, 3, 1, 3, 2, 3, 2]
          data: user_score
      },
      {
          label: "Group",
          fillColor: "rgba(204,204,204,0.2)",
          strokeColor: "white",
          pointColor: "rgba(220,220,220,1)",
          pointStrokeColor: "#fff",
          pointHighlightFill: "#fff",
          pointHighlightStroke: "rgba(151,187,205,1)",
          // data: [2.7, 2.1, 2.6, 1.8, 2.2, 2.3, 1.8]
          data: group_score
      }
    ]
  };
  // Get context with jQuery - using jQuery's .get() method.
  var ctx = $("#average_scores").get(0).getContext("2d");
  var myLineChart = new Chart(ctx).Line(data);

  });
</script>


<h2>Lighthouse Labs</h2>
<hr>
<div class="row">
  <div class="col-md-2">
    <br>
    <a href=""><img src="/images/lighthouse.png" alt="..." class="img-rounded-bg"></a>
    <br>

    <h4>Average Score: </h4>
    <span class=".score"><%=User.all.inject(0) {|total, user| total + user.score}/User.all.count%></span>
    <h4>Members: </h4>
    <%User.all.each do|user|%>
    <a href=""><img src=<%=user.avatar_url%> alt="..." class="img-rounded-sm"></a>
    <%end%>
  
  </div>
  
  <div class="col-md-10">
    <h2>Leaderboard: </h2>
    <table class="table">
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Achievements</th>
        <th>Score</th>
      </tr>
      
      <%User.all.each do|user|%>
      <%i=0%>
      <tr>
        <td></td>
        <td><%= user.username%></td> <!-- %= @user.username % -->
        <td><%= user.first_name%></td> <!-- %= @user.first_name % -->
        <td><%= user.last_name%></td> <!-- %= @user.last_name % -->
        <td>

        <%if user.acct_age_level !=0%>
          <img src=<%=Achievement.where(name: "Account Open",level: user.acct_age_level)[i][:url]%> alt="Lvl. 3" class="img-achievement-3">
        <%end%>

        <%if user.languages_level !=0%>
          <img src=<%=Achievement.where(name: "Language",level: user.languages_level)[i][:url]%> alt="Lvl. 3" class="img-achievement-3">
        <%end%>

        <%if user.followers_level !=0%>
          <img src=<%=Achievement.where(name: "Followers",level: user.followers_level)[i][:url]%> class="img-achievement-1">
        <%end%>

        <%if user.forks_level !=0%>
          <img src=<%=Achievement.where(name: "Forks",level: user.forks_level)[i][:url]%> alt="Lvl. 3" class="img-achievement-3">
        <%end%>

        <%if user.repos_level !=0%>
          <img src=<%=Achievement.where(name: "Repos",level: user.repos_level)[i][:url]%> alt="Lvl. 2" class="img-achievement-2">
          <%end%>

        <%if user.commits_level !=0%>
          <img src=<%=Achievement.where(name: "Commits",level: user.commits_level)[i][:url]%> alt="Lvl. 3" class="img-achievement-3">
          <%end%>

          <%if user.stars_level !=0%>
          <img src=<%=Achievement.where(name: "Stars",level: user.stars_level)[i][:url]%> alt="Lvl. 2" class="img-achievement-2">
          <%end%>

        </td>
        <td><%=user.score%></td>
      </tr>
      <%i+=1%>
      <%end%>
    </table>
  </div>

  <div class="col-md-10">
    <h2>Statistics: </h2>
    
    <h4>Me <span style="color:white">vs Average Achievement Level</span></h4>
    <canvas id="achievements"></canvas>


    <h4>Members <span style="color:white">vs Average Score</span></h4>
    <canvas id="average_scores"></canvas>
  </div>

<!--   <div class="col-md-5">
    <h2>Statistics (Graphs & Charts)</h2>
    <h4>Achievement level</h4>
    <canvas id="achievements"></canvas>
  </div>

  <div class="col-md-5">
    <h2>&nbsp;</h2>
    <h4>Average Score</h4>
    <canvas id="average_scores"></canvas>
  </div> -->
</div>




















